# Ignore Python compiled files
__pycache__/

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/
env/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore log files
logs/

# Ignore data and model files (adjust based on your project structure)
data/
models/

# Ignore cache and temporary files
.cache/
.tmp/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore any files or directories specific to your development tools and dependencies
node_modules/
bower_components/
